@{
    ViewBag.Title = "About";
}
 
    <br>    <br> <br>

     <div class="section">
      <div class="container">

        <div class="row">
		<div class="col-lg-12">
                            <h1 class="page-header">About
                                <small></small>
                            </h1>
                    <ol class="breadcrumb" style="background:#FEFCE8">
                                <li><a href="index.html">Home</a>
                                </li>
                                <li class="active">About</li>
                            </ol>

                    <div class="col-md-6">
                        <img src="~/images/team.jpg" class="img-responsive">
                    </div>
                    <div class="col-md-6">
                        <p class="text-muted">e-Merge IT Recruitment is a specialist niche agency working in specific
                        technology verticals. Recruiting in our specialised fields, we make strategic
                        selections for both client and candidate using our extensive attention,
                        knowledge and experience to create best-fit placements. As the antithesis
                        of an average recruitment company, we provide our clients and candidates
                        with a contextual understanding of the market, allowing for professional
                        and personal choices. <br> We are not trying to fit square pegs in round holes but rather providing
                        a holistic service, matching people, personalities and technical skills
                        for a win situation for all parties. An established player in the IT recruitment
                        space in SA with over 14 years experience, our success lies in understanding
                        the strategic thought that accompanies a new job or a new employee and
                        using our experience and understanding of the market to help ease the decision
                        making process. Our strengths lie in our high service orientation and the
                        relationships that we build – we believe strongly in building options for
                        our candidates and clients rather than merely placing numbers. Choice through
                        Options. You choose the right one for you.</p>
                    </div>
                    </div>
                </div>
                </div>
                <div class="section">
                <div class="container">
                    <div class="row">
                    <div class="col-md-6">
                        <p class="text-muted">Starting off as a small 2-man recruiting agency 14 years ago, e-Merge
                        IT Recruitment has grown to a formidable force in the IT Recruitment Industry
                        in South Africa today. Based in Bryanston and employing over 23 people,
                        e-Merge continues to grow their unique model of IT recruitment with 7 specialist
                        silos being fully developed and functional with new IT markets constantly
                        being evaluated and considered as potential growth areas. With a focus
                        on being a service agency in addition to a recruiting solution, e-Merge
                        offers strategic and targeted placements.</p>
                    </div>
                    <div class="col-md-6">
                        <p class="text-muted"> As a Level 4 BEE company, we
                        pride ourselves on our integrity, service orientation and knowledge application
                        to build the best options for clients and candidates alike. Everything
                        we do is measured, focused with constant prioritising for the best candidate
                        and client experience and placement.</br>
                    A core belief for the team is that our role is to give people options – whether Client or Candidate, we facilitate
                        informed choice. We are not trying to fit square pegs in round holes but
                        rather providing a holistic service, matching people, personalities and
                        technical skills for a win situation for all parties.</p>
                    </div>
                    </div>
                </div>
                </div>
                <div class="section">
                <div class="container">
                    <div class="row">
                    
                





            <div class="container">
            <h2>Meet the Team</h2>
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">JAVA</a></li>
                <li><a data-toggle="tab" href="#menu1">C#</a></li>
                <li><a data-toggle="tab" href="#menu2">ORACLE</a></li>
                <li><a data-toggle="tab" href="#menu3">BUSINESS INTELLIGENCE</a></li>
                <li><a data-toggle="tab" href="#menu4">BUSINESS ANALYSIS</a></li>
                <li><a data-toggle="tab" href="#menu5">TRAINING</a></li>
                <li><a data-toggle="tab" href="#menu6">ADMINISTRATORS</a></li>
                <li><a data-toggle="tab" href="#menu7">OPERATIONS</a></li>
                <li><a data-toggle="tab" href="#menu8">PROJECT MANAGEMENT</a></li>
                <li><a data-toggle="tab" href="#menu9">TYPIST</a></li>
                <li><a data-toggle="tab" href="#menu10">OFFICE ASSISTANT</a></li>
                <li><a data-toggle="tab" href="#menu11">RECEPTIONIST</a></li>
                <li><a data-toggle="tab" href="#menu12">SOCIAL MEDIA</a></li>	
            </ul>

            <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                <h3>JAVA</h3>
                
                <div class="row">

                
                <div class="col-md-3">
                        <img src="~/images/garth.jpg" height="40%"
                        width="100%">
                        <h2>Garth Zoutendyk</h2>
                    <h4>Specialist Java Recruiter</h4>
                        <p>Garth founded e-Merge in 1999, working and specialising in the Java and J2EE market with an additional focus in Mobile Development. Working on Capital Market related assignments, Garth has a solid client base including many Investment Banks, & niche Consulting and Software Development companies. Garth’s knowledge of the IT market is fairly extensive so feel free to be in touch should you require advice.</br></br> Feel free to give him a call on 011 463 3633, email him on <a href="mailto:Garth@e-merge.co.za"><font color="orange">Garth@e-merge.co.za</font></a> or check out his <a href="http://www.linkedin.com/pub/garth-zoutendyk/1/36/432">LinkedIn profile.</a> (if he’s unavailable, please also feel free to call his right hand man, Janice Kennedy, <a href="mailto:janice@e-merge.co.za"><font color="orange">janice@e-merge.co.za</font></a> or 011 463 3633).</p>
                    </div>
                    
                    <div class="col-md-3">
                        <img src="~/images/janice.jpg"
                        height="40%"
                        width="100%">
                        <h2>Janice Kennedy</h2>
                    <h4>Senior Specialist - Java Team</h4>
                        <p>Janice has a vast depth of experience within systems Recruitment; she has been involved with e-Merge since 1999 and has proved critical to the success of the Java team. Although Janice is not as technical as the rest of the team shis is most certainly the person to call if you are seeking advice as a job or talent seeker.  The Java team’s expertise lies in Java Enterprise Edition (Java EE / JEE); C++, Mobile (IOS / Android).</br> </br>Feel free to give her a call on 011 463 3633, email her on <a href="mailto:janice@e-merge.co.za"><font color="orange">janice@e-merge.co.za</font></a> or check out her <a href="http://www.%20linkedin.com/pub/janice-kennedy/8/33/973"><font color="orange">LinkedIn profile.</font></a></p>
                    </div>
                    
                    <div class="col-md-3">
                        <img src="~/images/zara.jpg" height="40%"
                        width="100%">
                        <h2>Zara De Carvalho</h2>
                    <h4>Specialist Recruiter - Java Team</h4>
                        <p>Zara has unprecedented skills in working with her candidates as a source of strength and support during the rigorous and lengthy interview process; with her in your corner – you will succeed to finding your next career move, that’s not only right for you and your family but the company and their culture fit. Zara has more than 2 years recruitment experience and upskilling herself constantly in the Java space to consult to each individual that she comes in contact with. Do you have Java skills and Achievements to confirm your excellent work? … then Zara will take you to the TOP EMPLOYERS and more great opportunities </br></br> Get in contact with her on 011 463 3633 or email her on <a href="mailto:zaradc@e-merge.co.za"><font color="orange">zaradc@e-merge.co.za</font></a></p>
                    </div>
                    </div>


                

                </div>
                <div id="menu1" class="tab-pane fade">
                <h3>C#</h3>
                
                <div class="row">
                    
                    <div class="col-md-3">
                        <img src="~/images/jason.jpg"
                        height="40%"
                        width="100%">
                        <h2>Jason Pretorius</h2>
                    <h4>Technical Team Lead Specialist Recruiter in C# and .Net</h4>
                        <p>Jason is one of our Lead Recruitment Consultants. His core focus is in the Microsoft arena, primarily focusing on the .NET Stacks with strengths in C#, ASP.NET, Sharepoint, Biztalk and Dynamics CRM. He dominates in Gauteng. He has been introducing people since the early 2000’s; starting off in Europe and since 2005 his focus has been in the South African market. He understands the Microsoft Software stacks well with a particularly good understanding of the ecology of the Domain.</br></br>Feel free to give him a call on 011 463 3633, email him on <a href="mailto:Jason@e-merge.co.za"><font color="orange">Jason@e-merge.co.za</font></a></a> or check out his <a href="http://www.linkedin.com/in/jasonpemerge"><font color="orange">LinkedIn profile.</font></a> (if he’s unavailable, please also feel free to call his right hand man, Nicole Burn Senior Administrator, <a href="mailto:nicole@e-merge.co.za"><font color="orange">nicole@e-merge.co.za</font></a> or 011 463 3633).</p>
                    </div>

                <div class="col-md-3">
                        <img src="~/images/nicole.jpg"
                        height="40%"
                        width="100%">
                        <h2>Nicole Burn</h2>
                    <h4>Senior Specialist Administrator - C# Team</h4>
                        <p>Brought on board by Jason back in 2007; Nicole is a front line personality within the Microsoft team. She is a Consultative Administrator focusing on supporting Jason specifically within the Gauteng Microsoft based business. Her team focuses on C#.NET, ASP.NET, Sharepoint and Dynamics CRM technologies, although her focus is not technical she will be able to point you in the right direction within the team.</br></br>Feel free to give her a call on 011 463 3633 or email her on <a href="mailto:nicole@e-merge.co.za"><font color="orange">nicole@e-merge.co.za</font></a></p>
                    </div>

                <div class="col-md-3">
                        <img src="~/images/keri.jpg"
                        height="40%"
                        width="100%">
                        <h2>Keri Lyn McGibbon</h2>
                    <h4>Specialist Recruiter - C# and .Net</h4>
                        <p>Keri recently joined Jason’s strong dynamic Microsoft team. She is a C# and .Net recruitment specialist from Durban that has fitted right into the follow and vibe of Johannesburg’s fast pace. After achieving her IBM Personnel Management Certificate she found herself being highly proficient in sourcing, screening, consulting and delivering on clients expectations which has led her to be in recruitment for more than 2 years.</br></br>She is the latest “force to be reckoned with” Feel free to give her a call on 011 463 3633 or email her on <a href="mailto:kerim@e-merge.co.za"><font color="orange">kerim@e-merge.co.za</font> </a></p>
                    </div>

                </div>
                </div>

                <div id="menu2" class="tab-pane fade">
                <h3>ORACLE</h3>
                <div class="row">
                    
                    <div class="col-md-3">
                        <img src="~/images/nicole-01.jpg"
                        height="40%"
                        width="100%">
                        <h2>Nicole De Sousa</h2>
                    <h4>Specialist Recruiter - Oracle</h4>
                        <p>Nicole is one of our Senior Recruitment Consultants and our go-to girl when it comes to ORACLE. She has been recruiting since 2011 and has gained a good understanding of the Oracle industry in Gauteng/ South Africa. Her areas of specialty include: Oracle Development (Forms, Reports, PL/SQL, Compass), Oracle Datawarehousing, Oracle Applications (EBS, OAF), Oracle Technical and Functional Consultants across all Modules, as well as technical Systems Analysts.</br></br>Feel free to give her a call on 011 463 3633, email her on <font color="orange">nicoled@e-merge.co.za</font> <a href="mailto:nicoled@e-merge.co.za">nicoled@e-merge.co.za</a> or check out her LinkedIn profile. (If she is unavailable, please also feel free to call her right hand lady, Penelope Ramoleta, Administrator, <a href="mailto:penelope@e-merge.co.za"><font color="orange">penelope@e-merge.co.za</font></a> or 011 463 3633 ).</p>
                    </div>

                <div class="col-md-3">
                        <img src="~/images/jay.jpg"
                        height="40%"
                        width="100%">
                        <h2>Jaydene Ernstzen</h2>
                    <h4>Specialist Recruiter - Oracle</h4>
                        <p>Jaydene is a specialist Recruiter within the Oracle space alongside Nicole. She is an organized and meticulous recruiter who is self-driven and enjoys day to day interaction with people. Jaydene is strong willed in following “Own Judgement” in doing the right thing for the candidate and client. Over a years’ experience in recruitment and a Degree in Corporate Communications allows her to understand her clients/candidates needs and successfully fulfill them. Her team focuses on; Oracle Development (Oracle Forms and Reports, PL/SQL, Compass and SOA), Oracle Datawarehousing, Oracle Applications(EB,OAF), Oracle Technical and Functional Consultants across all modules, as well as technical Systems Analysts.</br></br>Please feel free to call her on 011 463 3633 or email her on <a href="mailto:jaydenee@e-merge.co.za"><font color="orange">jaydenee@e-merge.co.za</font></a></p>
                    </div>	

                </div>
                
                </div>
                <div id="menu3" class="tab-pane fade">
                <h3>Business Intelligence</h3>
                <div class="row">
                    
                    <div class="col-md-3">
                        <img src="~/images/neli.jpg"
                        height="40%"
                        width="100%">
                        <h2>Nelius Combrink</h2>
                    <h4>Specialist Recruiter in Business Intelligence & Data Analytics</h4>
                        <p>Nelius joined our team in September 2015, and he has hit the ground running from day 1. Nothing excites him more than building relationships and assisting people in the process.  This flamboyant and super outgoing recruiter has over 3 year’s recruitment experience, previously focusing on the financial sector and is currently based in our BI & Data Analytics team. His team focuses on Business intelligence Analysts, Data Analysts, MIS Analysts, BI Consultants and MIS Consultants. </br> </br>  Please feel free to call him on 0114633633 or email him on <a href="mailto:nelius@e-merge.co.za"><font color="orange">nelius@e-merge.co.za</font></a> </p>
                    </div>
                <div class="col-md-3">
                        <img src="~/images/craig.jpg"
                        height="40%"
                        width="100%">
                        <h2>Craig Nel</h2>
                    <h4>Specialist Recruiter in Business Intelligence and Data Warehousing</h4>
                        <p>Craig is an experienced rock star Recruiter. He finds himself immersed in the MS SQL Server world. His core focus is technology across the DB layers including the Data Warehouse SSMS, SSIS,SSAS, SSRS, SharePoint); the DB Design and T-SQL layers through the Database Administrative functions. Craig has been recruiting since 2008; he has achieved success at several big name Agencies with his crowning achievements here at e-Merge.</br></br>Give him a call on 011 463 3633 or email him at <a href="mailto:craig@e-merge.co.za"><font color="orange">craig@e-merge.co.za</font></a></p>
                    </div>
                </div>
            </div>
                <div id="menu4" class="tab-pane fade">
                <h3>Business Analysis</h3>
                <div class="row">
                    
                    <div class="col-md-3">
                        <img src="~/images/michelle.jpg"
                        height="40%"
                        width="100%">
                        <h2>Michelle Hiestermann</h2>
                    <h4>Specialist Recruiter - Business Analysis</h4>
                        <p>Michelle has been Recruiting for e-Merge since early 2012; her role is to find and place talented Business Analysts, Systems Analysts, Quantitative Analysts as well as Data Analysts. She is very strong in the Financial Markets (Calypso, Treasury, Capital Markets, FICC) as well as the Consulting markets. She is always looking for UML, OO, SQL, Modelling, Design, Process skills with either Agile or Waterfall experience. </br></br> Feel free to give her a call on 011 463 3633, email her on <a href="mailto:michelle@e-merge.co.za"><font color="orange">michelle@e-merge.co.za</font></a> or check out her <a href="http://www.linkedin.com/pub/michelle-hiestermann/47/b37/607"><font color="orange">LinkedIn profile.</font></a></p>
                    </div>
                </div>
                </div>
                <div id="menu5" class="tab-pane fade">
                <h3>Training </h3>
                <div class="row">
                    
                    <div class="col-md-3">
                        <img src="~/images/nan.jpg"
                        height="40%"
                        width="100%">
                        <h2>Nanette Kleynhans</h2>
                    <h4>Training Manager</h4>
                        <p>Nanette is our “#GO2GURU” – As e-Merge’s Training manager and all round backbone for e-Merge’s team. Nanette has worked in the recruitment industry for over 4 years, positioning senior individuals in great opportunities and having done and mastered the entire 360 degree recruitment process. Nanette connected with her passion of teaching and mentoring when she was given an opportunity to lecture 2nd year marketing students at Tshwane University of Technology part time and she has never  been more fulfilled than she was at this time in her life. She takes great pleasure in sharing her knowledge and understanding with her team of recruiters and is extremely proud of what they have achieved. Sales has been a big part of Nanette’s career and after discovering the recruitment industry she has never looked back. She is NOT just a pretty face but she is a able to identify potential, ignite passion and reactivate drive in her team without breaking a sweat.</br></br> If you are looking to write your own pay check or take your career to the next financial level get in contact with her on 011 463 3633 or email her on <a href="mailto:nanettek@e-merge.co.za"><font color="orange">nanettek@e-merge.co.za</font></a></p>
                    </div>
                </div>
                </div>
                <div id="menu6" class="tab-pane fade">
                <h3>Administrators</h3>
                <div class="row">
                    
                    <div class="col-md-3">
                        <img src="~/images/tar.jpg"
                        height="40%"
                        width="100%">
                        <h2>Tariro Kuchocha</h2>
                    <h4>Recruitment Administrator</h4>
                        <p>Tariro is the newest member to the Java team. She is intelligent and provides  great support for the team. Tariro is not just admin but she is one of the driving forces contributing to the success of the Java desk. </br></br>Give her a call on 011 463 3633 or email her at <a href="mailto:tariro@e-merge.co.za"><font color="orange">tariro@e-merge.co.za</font></a></p>
                    </div>
                <div class="col-md-3">
                        <img src="~/images/grace.jpg"
                        height="40%"
                        width="100%">
                        <h2>Grace Magubane</h2>
                    <h4>Front Line Administrator</h4>
                        <p>Grace achieved her 10 year service in 2013! Her core role is welcoming visitors to our offices, keeping the Consultants hydrated and ensuring the day to day office runs smoothly.</br></br>Give her a call on 011 463 3633 or email her at <a href="mailto:grace@e-merge.co.za"><font color="orange">grace@e-merge.co.za</font></a> </p>
                    </div>
                <div class="col-md-3">
                        <img src="~/images/pem.png"
                        height="40%"
                        width="100%">
                        <h2>Pemlar Maleka</h2>
                    <h4>Office Administrator</h4>
                        <p>Pem has the hardest role within the business. To keep a roomful of Recruiters happy and compliant is similar to herding Elephants. Pem is an accomplished Senior person within the business focused on keeping the lights on and making sure everything works. She is also extremely happy to take a call should you battle to reach any of our front line Consultants, she is not technical but will happily point you in the right direction.</br></br>Feel free to give her a call on 011 463 3633 or email her on <a href="mailto:pemlar@e-merge.co.za"><font color="orange">pemlar@e-merge.co.za</font></a></p>
                    </div>
                <div class="col-md-3">
                        <img src="~/images/pen.jpg"
                        height="40%"
                        width="100%">
                        <h2>Penelope Ramoleta
            </h2>
                    <h4>Recruitment Administrator</h4>
                        <p>Penny has been hand-picked by the ‘Oracle Prophet’ herself. Penny has an in-depth understanding of the recruitment environment and has brought such great value to the Oracle desk. Penny is exceptionally articulate and maybe you might get a call from her as she is always on the lookout for BRILLLIANT Oracle developers for the awesome opportunities that we have available.</br></br>Give her a call on 011 463 3633 or email her at <a href="mailto:penelope@e-merge.co.za"><font color="orange">penelope@e-merge.co.za.</font></a></p>
                    </div>
                </div>
                </div>

                <div id="menu7" class="tab-pane fade">
                <h3>Operations</h3>
                
                <div class="row">
                    
                    <div class="col-md-3">
                        <img src="~/images/mavis.png"
                        height="40%"
                        width="100%">
                        <h2>Mavis Mathabela</h2>
                    <h4>Operations Manager</h4>
                        <p>Mavis is the right hand woman to Garth and Janice as well as to the business. She has been with e-Merge for the past 3 years and has truly grown from starting out in admin to now heading up Operations.  She has one of the toughest roles in the business, dealing with all operational issues and sorting them out in the most efficient way possible.  Mavis holds a BCom in Behavioral Sciences from the North West University, and has over 4 years’ experience in admin and operations. Along with her superstar personality and hard work, she forms an essential part of e-Merge’s dynamic team!</br></br> Please feel free to contact her on 0114633633 email her on <a href="mailto:mavis@e-merge.co.za"><font color="orange">mavis@e-merge.co.za.</font></a> </p>
                    </div>
                </div>
                </div>

                <div id="menu8" class="tab-pane fade">
                <h3>Project Management</h3>
                
                <div class="row">
                    
                    <div class="col-md-3">
                        <img src="~/images/liza.jpg"
                        height="40%"
                        width="100%">
                        <h2>Liza Van den Berg</h2>
                    <h4>Specialist Recruiter in Project Management</h4>
                        <p>Liza is our Superwoman Recruiter, with super powers to recruit A candidates for TOP companies.  She started recruiting in 2011, and has never looked back. Liza’s core focus is within the Java, Mobile and Management space. Her networking and sourcing skills have proven to #save money # Make money #improve process in order to place HOT PM’s and Developers in time, within budget, every time.</br></br>

            Give her a call on 011 463 3633 or email her at <a href="mailto:liza@e-merge.co.za"><font color="orange">liza@e-merge.co.za.</font></a></p>
                    </div>
                </div>
                </div>

                <div id="menu9" class="tab-pane fade">
                <h3>Typist</h3>
                
                <div class="row">
                    
                    <div class="col-md-3">
                        <img src="~/images/den.jpg"
                        height="40%"
                        width="100%">
                        <h2>Denyce Tyson</h2>
                    <h4>Senior Typist</h4>
                        <p>Since 2008 Denyce has been vitally important to our production process. She is the all important anchor in ensuring candidate information is easy to find, skills are clear and experiences legible on all CV’s being introduced to clients.</br></br>

            Give her a call on 011 463 3633 or email her at <a href="mailto:denyce@e-merge.co.za"><font color="orange">denyce@e-merge.co.za.</font></a></a></p>
                    </div>
                </div>
                </div>

                <div id="menu10" class="tab-pane fade">
                <h3>Office Assistant</h3>
                
                <div class="row">
                    
                    <div class="col-md-3">
                        <img src="~/images/ntokozo.jpg"
                        height="40%"
                        width="100%">
                        <h2>Ntokozo Siziba</h2>
                    <h4>General Office Assistant</h4>
                        <p>Our STAR, cleaning fairy who is totally OCD and we LOVE IT!! Ntokozo is very articulate and has the most infectious smile in the business. Ntokozo has been with e-merge for the past 3years. She is the lady that keeps our office looking like royalty on a daily basis. She will be one of the first faces you see at emerge as she brings you the best cup of coffee you have ever had!</p>
                    </div>
                </div>
                </div>

                <div id="menu11" class="tab-pane fade">
                <h3>Office Assistant</h3>
                
                <div class="row">
                    
                    <div class="col-md-3">
                        <img src="~/images/bel.jpg"
                        height="40%"
                        width="100%">
                        <h2>Belindah Motubatse</h2>
                    <h4>Receptionist</h4>
                        <p>Belindah is the first point of contact at e-Merge, the first voice you will hear on the other side of the phone. She is very well spoken, extremely helpful and a perfect representation of the values that we stand for.</br></br>

            Give her a call on 011 463 3633 or email her at <a href="mailto:belindah@e-merge.co.za"><font color="orange">belindah@e-merge.co.za.</font></a> </p>
                    </div>
                </div>
                </div>

                <div id="menu12" class="tab-pane fade">
                <h3>Social Media</h3>
                
                <div class="row">
                    
                    <div class="col-md-3">
                        <img src="~/images/tsolo.jpg"
                        height="40%"
                        width="100%">
                        <h2>Tsholofelo Matshaba</h2>
                    <h4>Social Media</h4>
                        <p>
                            Tsholo is our NINJA working the social media space and she has an eye for finding the diamonds in the rough. She holds a Degree in Marketing Management and has 4 years experience on her belt as a Reseacher/Resourcer. She is intelligent and always on the hunt for new exceptional IT Guru’s in the Java, C#, Oracle, Business Analysis, Project Management, Mobile, BI, IT Sales and Test Analysis space.. You might be next on her ‘TO contact LIST’</br></br>

                            Give her a call on 011 463 3633 or email her at
                            <a href="mailto:tsholofelo@e-merge.co.za"><font color="orange">tsholofelo@e-merge.co.za.</font></a>
                        </p>
                            </div>
                            </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

    </div>
        <hr>
