@{
    ViewBag.Title = "Home Page";
}
<br>    <br> <br>
<!-- Page Content -->
<div class="container">
    <!-- /.row -->
    <!-- Portfolio Item Row -->
    <div class="row">
        <div class="col-md-8">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div style="min-height:400px;" class="item active">
                        <div class="row">
                            <div>
                                <a href="#">
                                    <img class="img-responsive img-rounded img-hover" src="images/people.jpg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="carousel-caption">

                            <h2>Introducing people</h2>
                            <h3>Our job is to link you with the right job/Candidate</h3>
                            <h4>
                                Employers and employment seekers meet here.<br><br>
                            </h4>

                            <a class="btn btn-primary" href="#">learn more </i></a>
                        </div>
                    </div>

                    <div style="min-height:400px;" class="item ">
                        <div class="row">
                            <div>
                                <a href="#">
                                    <img class="img-responsive img-rounded img-hover" src="images/intobusiness.jpg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="carousel-caption">

                            <h2>Job seeker</h2>
                            <h3>Look no further</h3>
                            <h4>
                                We are not trying to force square pegs into round holes.

                                We are not trying to make a quick buck off an unsuitable placement.

                                Our ethos is that we believe strongly in the right job for the right person with no compromises on making the right fit.
                                ice.<br><br>
                            </h4>

                            <a class="btn btn-primary" href="#">learn more </i></a>
                        </div>
                    </div>


                    <div style="min-height:400px;" class="item ">
                        <div class="row">
                            <div>
                                <a href="#">
                                    <img class="img-responsive img-rounded img-hover" src="images/intobusiness.jpg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="carousel-caption">

                            <h2>Clients</h2>
                            <h3>Register with us to get the best IT personnel in the market.</h3>
                            <h4>
                                We believe in Quality over Quantity.
                                We match skills and culture accurately,
                                selecting only the very best candidates available to present to you.

                            </h4>

                            <a class="btn btn-primary" href="#">learn more </i></a>
                        </div>
                    </div>

                    <div style="min-height:400px;" class="item ">
                        <div class="row">
                            <div>
                                <a href="#">
                                    <img class="img-responsive img-rounded img-hover" src="images/businesscards.jpg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="carousel-caption">

                            <h2>Employers</h2>
                            <h3>Introducing Top Candidates</h3>
                            <h4>
                                A specialist niche strategy to give you the hottest top candidates on our list.<br><br>
                            </h4>

                            <a class="btn btn-primary" href="#">learn more </i></a>
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h3 class="page-header">
                e-Merge IT Recruitment
                <br>
                <small>We make strategic selections for both Client and Candidate.</small>
            </h3>
            <li>
                A specialist niche agency working in specific technology verticals.
            </li>
            <li>
                We make strategic selections for our client and candidate
            </li>
            <li>
                As the antithesis of an average recruitment company,
            </li>
            <li>
                We provide our you with a contextual understanding of the market, We do no fit square pegs in round holes rather we provide a holistic service, matching people,
            </li>
            <li>
                personalities and technical skills for a win situation.
            </li>
            <li>
                An established player  with over 14 years experience.
            </li>
            <li>
                We strategise a new job or a new employee.
            </li>
            <li>
                We focus on building relationships and good customer experience.
            </li>
            <li>
                We provide options to our candidates and clients.
            </li>
            <li>
                “Choice through Options” - You make the choice.
            </li>
            </ul>
        </div>
    </div>



    <!-- Service List -->
    <!-- The circle icons use Font Awesome's stacked icon classes-->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Service List</h2>
        </div>
        <div class="col-md-4">
            <div class=home-cell>
                <a href="http://www.e-merge.co.za/search-jobs-new/">
                    <img src="images/jobs-01.png" class=home-icons>
                    <span class=home-icons-text>Search Jobs</span>
                </a>
            </div>

            <div class=home-cell>
                <a href="http://www.e-merge.co.za/job-seekers/add-your-cv/">
                    <img src="images/upload-01.png" class=home-icons>
                    <span class=home-icons-text>Add your CV</span>
                </a>
            </div>

            <div class=home-cell>
                <a href="http://www.e-merge.co.za/job-seekers/referralprogramme/">
                    <img src="images/refer-01.png" class=home-icons>
                    <span class=home-icons-text>Refer a Developer</span>
                </a>
            </div>

            <div class=home-cell>
                <a href="http://www.e-merge.co.za/clients/top-candidates-2/">
                    <img src="images/top-candidates-01.png" class=home-icons>
                    <span class=home-icons-text>Top Candidates</span>
                </a>
            </div>
        </div>
        <!--
            <div class="media">
                <div class="pull-left">
                    <span class="fa-stack fa-2x">
                          <i class="fa fa-circle fa-stack-2x text-primary"></i>
                          <i class="fa fa-tree fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Service One</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo itaque ipsum sit harum.</p>
                </div>
            </div>
            <div class="media">
                <div class="pull-left">
                    <span class="fa-stack fa-2x">
                          <i class="fa fa-circle fa-stack-2x text-primary"></i>
                          <i class="fa fa-car fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Service Two</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo itaque ipsum sit harum.</p>
                </div>
            </div>
            <div class="media">
                <div class="pull-left">
                    <span class="fa-stack fa-2x">
                          <i class="fa fa-circle fa-stack-2x text-primary"></i>
                          <i class="fa fa-support fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Service Three</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo itaque ipsum sit harum.</p>
                </div>
            </div>
        </div-->
        <div class="col-md-4">
            <div class="media">
                <div class="pull-left">
                    <span class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-database fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Service Four</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo itaque ipsum sit harum.</p>
                </div>
            </div>
            <div class="media">
                <div class="pull-left">
                    <span class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bomb fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Service Five</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo itaque ipsum sit harum.</p>
                </div>
            </div>
            <div class="media">
                <div class="pull-left">
                    <span class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bank fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Service Six</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo itaque ipsum sit harum.</p>
                </div>
            </div>
        </div>


        <!-- Blog Sidebar Widgets Column -->
        <div class="col-md-4">
            <!-- Blog Search Well -->
            <div class="well">
                <h4>Search Jobs.</h4>
                <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                    </span>
                </div>
                <!-- /.input-group -->
            </div>
            <!-- Blog Categories Well -->
            <div class="well">
                <h4>Job Categories</h4>
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="list-unstyled">
                            <li>
                                <a href="#">C#/ .Net Jobs</a>
                            </li>
                            <li>
                                <a href="#">Java/ J2EE jobs</a>
                            </li>
                            <li>
                                <a href="#">Mobile jobs</a>
                            </li>
                            <li>
                                <a href="#">Business Analysis</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul class="list-unstyled">
                            <li>
                                <a href="#">Oracle Jobs</a>
                            </li>
                            <li>
                                <a href="#">Business intelligence</a>
                            </li>
                            <li>
                                <a href="#">IT Sales jobs</a>
                            </li>
                            <li>
                                <a href="#">Other Jobs</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /.row -->
            </div>
        </div>

        <hr>
        <br>
        <script>
        $(document).ready(function() {

        $("#owl-demo").owlCarousel({

            autoPlay: 3000, //Set AutoPlay to 3 seconds

            items : 4,
            itemsDesktop : [1199,3],
            itemsDesktopSmall : [979,3]

        });

        });
        </script>
        <!-- jQuery -->
        <script src="~/Scripts/jquery.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="~/Scripts/bootstrap.min.js"></script>
        <!-- Script to Activate the Carousel -->
        <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
        </script>